* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#f5f5f5, #444444);
  font-family: sans-serif;
  color: #333;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.pageWrap {
  padding-bottom: 2.5rem;
}

.background {
  background-image: url('/Images/Boleo.png'); 
  background-size: 70%;
  background-position: center; 
  height: 100vh; 
  width: 100%;
}


/* Nav styling, a, href, */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: #222831 0.5;
  padding: 10px;
}

.navbar a {
  margin: 5px 0;
}
.navbar img {
  width: 50px;
  height: auto;
  opacity: 0.7;
}
.navbar img:hover {
  opacity: 1;
}

/* Footer styling */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

footer a {
  color: #333;
}
footer a:hover {
  color: blue;
}
footer a:visited {
  color: grey;
}

#gTag {
  color: purple;
  text-align: center;
}

#twitchlogo {
  width: 44px;
  height: 44px;
}

#aboutTxt {
  border: black solid;
  margin-right: 75%;
  color: #4169E1;
  font-size: 2vw;
}